.pokeballLogo {
    max-height: 20vh;
    border-radius: 50%;
}
.pokemonLogo {
    max-height: 20vh;
}

.home-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.pagination-box {
    display: flex; 
    justify-content: center;
}

.poke-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}