body {
    background-color: rgba(241, 245, 206, 0.5) !important;
}
.pokeballLogo {
    max-height: 20vh;
    border-radius: 50%;
}
.pokemonLogo {
    max-height: 20vh;
}

.home-main-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.card {
    border: 1px solid rgb(84, 152, 253);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }

.pagination-box {
    display: flex; 
    justify-content: center;
    margin-bottom: 64px;
}

.media {
    border: 5px solid rgb(93, 158, 243);
    max-width: 100%;
    height: auto;
}

.card-text {
    background-color: rgba(220, 248, 96, 0.5);
}

.poke-info {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav-link {
    color: inherit;
    text-decoration: inherit;
}

.form-search {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}